{% extends 'base.html.twig' %}

{% block title %}Add Evaluation
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6">
				<div class="card shadow-sm rounded-4 border-0">
					<div class="card-body p-4">
						<h2 class="card-title mb-4 text-center">Add Evaluation</h2>

						{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

						<div class="mb-3">
							{{ form_label(form.idJury, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(form.idJury, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.idJury) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.idHackathon, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(form.idHackathon, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.idHackathon) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.idProjet, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(form.idProjet, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.idProjet) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.noteTech, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(form.noteTech, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.noteTech) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.noteInnov, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(form.noteInnov, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.noteInnov) }}
						</div>

						<div class="mb-4">
							{{ form_label(form.date, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.date) }}
						</div>

						<div class="d-grid">
							<button type="submit" class="btn btn-primary btn-lg">Submit</button>
						</div>

						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
