{% extends 'base.html.twig' %}

{% block title %}Edit Evaluation
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6">
				<div class="card shadow-sm rounded-4 border-0">
					<div class="card-body p-4">
						<h2 class="card-title mb-4 text-center">Edit Evaluation #{{ evaluation.id }}</h2>

						{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

						{{ form_widget(form, {'attr': {'class': 'form-control mb-3'}}) }}

						<div class="d-flex justify-content-between mt-4">
							<button type="submit" class="btn btn-primary btn-lg">Update</button>
							<a href="{{ path('evaluation_list') }}" class="btn btn-secondary btn-lg">Cancel</a>
						</div>

						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
