{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>Hackify</title>
		<meta name="description" content="">
		<meta
		name="keywords" content="">

		<!-- Favicons -->
		<link href="FrontOffice/assets/img/favicon.png" rel="icon">
		<link
		href="FrontOffice/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com" rel="preconnect">
		<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">


		<!-- Vendor CSS Files -->
		<link href="{{ asset('FrontOffice/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('FrontOffice/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
		<link href="{{ asset('FrontOffice/assets/vendor/aos/aos.css') }}" rel="stylesheet">
		<link href="{{ asset('FrontOffice/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
		<link
		href="{{ asset('FrontOffice/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

		<!-- Main CSS Files -->
		<link href="{{ asset('FrontOffice/assets/css/main.css') }}" rel="stylesheet">
		<link
		rel="stylesheet" href="{{ asset('FrontOffice/assets/css/hackathon.css') }}">


		<!-- pour le map -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>

	</head>


	<body class="index-page">

		<header id="header" class="header d-flex align-items-center sticky-top" style="background-color: #1b3347;">
			<div class="container position-relative d-flex align-items-center justify-content-between">

				<a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
					<img src="{{ asset('FrontOffice/assets/img/logo.png') }}" alt="Logo">
					<h1 class="sitename">Hackify</h1>

				</a>

				<nav id="navmenu" class="navmenu">
					<ul>
						<li>
							<a href="/home#hero" class="active">Accueil<br></a>
						</li>
						<li>
							<a href="/home#about">À propos</a>
						</li>
						<li>
							<a href="/home#faq">Questions Fréquentes</a>
						</li>
						{% if not app.user %}
							<li>
								<a href="/home#hackathons">Hackathons</a>
							</li>
						{% else %}
							<li class="dropdown">
								<a href="/home#hackathons">
									<span>Hackathons</span>
									<i class="bi bi-chevron-down toggle-dropdown"></i>
								</a>
								<ul>
									{% if app.user and 'ROLE_ORGANISATEUR' in app.user.roles %}
										<li>
											<a href="{{ path('ajouter_hackathon') }}">Organiser</a>
										</li>
									{% endif %}
									<li>
										<a href="{{ path('liste_hackathon') }}">Mes hackathons</a>
									</li>

								</ul>
							</li>
							<li class="dropdown">
								<a href="/home#evaluations">
									<span>Evaluations</span>
									<i class="bi bi-chevron-down toggle-dropdown"></i>
								</a>
								<ul>
									<!-- Organisateur -->
									<li>
										<a href="{{ path('evaluation_add') }}">Ajouter Evaluation</a>
									</li>

									<!-- participant -->
									<li>
										<a href="{{ path('project_list') }}">Ajouter Vote</a>
									</li>
									<li>
										<a href="{{ path('gemini_ui') }}">Gemini</a>
									</li>
								{% endif %}
							</li>
							<li>
								<a href="/home#gallery">Gallery</a>
							</li>
							<li>
								<a href="/home#contact">Contact</a>
							</li>
						</ul>
						<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
					</nav>
					<div>
						{% if not app.user %}
							<a class="btn-getstarted" href="/register">Connexion / S'inscrire</a>

						{% elseif app.user %}
							{% if app.user.photoUser is defined and app.user.photoUser %}
								<a href="{{ path('app_profile_show') }}">
									<img src="{{ asset('uploads/profile_pictures/' ~ app.user.photoUser) }}" alt="Photo de profil" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover; border: 3px solid #1b3347;">
								{% else %}
									<a href="{{ path('app_profile_show') }}" class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mx-auto" style="width: 50px; height: 50px;">
										<i class="bi bi-person-fill text-white" style="font-size: 2rem;"></i>
									</a>
								{% endif %}
							{% endif %}
						</a>
					</div>
				</div>
			</header>
			<main>

				{% block body %}{% endblock %}
			</main>


			<footer id="footer" class="footer dark-background">

				<div class="container">
					<div class="row gy-3">
						<div class="col-lg-3 col-md-6 d-flex">
							<i class="bi bi-geo-alt icon"></i>
							<div class="address">
								<h4>Address</h4>
								<p>A108 Adam Street</p>
								<p>New York, NY 535022</p>
								<p></p>
							</div>

						</div>

						<div class="col-lg-3 col-md-6 d-flex">
							<i class="bi bi-telephone icon"></i>
							<div>
								<h4>Contact</h4>
								<p>
									<strong>Phone:</strong>
									<span>+1 5589 55488 55</span><br>
									<strong>Email:</strong>
									<span>info@example.com</span><br>
								</p>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 d-flex">
							<i class="bi bi-clock icon"></i>
							<div>
								<h4>Opening Hours</h4>
								<p>
									<strong>Mon-Sat:</strong>
									<span>11AM - 23PM</span><br>
									<strong>Sunday</strong>:
									<span>Closed</span>
								</p>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<h4>Follow Us</h4>
							<div class="social-links d-flex">
								<a href="#" class="twitter">
									<i class="bi bi-twitter-x"></i>
								</a>
								<a href="#" class="facebook">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="#" class="instagram">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="#" class="linkedin">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>

					</div>
				</div>

				<div class="container copyright text-center mt-4">
					<p>©
						<span>Copyright</span>
						<strong class="px-1 sitename">Yummy</strong>
						<span>All Rights Reserved</span>
					</p>
					<div class="credits">
						<!-- All the links in the footer should remain intact. -->
						<!-- You can delete the links only if you've purchased the pro version. -->
						<!-- Licensing information: https://bootstrapmade.com/license/ -->
						<!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
						Designed by<a href="https://bootstrapmade.com/"> BootstrapMade</a>
					</div>
				</div>

			</footer>


			<!-- Scroll Top -->
			<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
				<i class="bi bi-arrow-up-short"></i>
			</a>

			<!-- Preloader -->
			<div id="preloader"></div>

			<!-- Vendor JS Files -->
			<script src="{{ asset('FrontOffice/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('FrontOffice/assets/vendor/php-email-form/validate.js') }}"></script>
			<script src="{{ asset('FrontOffice/assets/vendor/aos/aos.js') }}"></script>
			<script src="{{ asset('FrontOffice/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
			<script src="{{ asset('FrontOffice/assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
			<script src="{{ asset('FrontOffice/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
			<!-- Main JS File -->
			<script src="{{ asset('FrontOffice/assets/js/main.js') }}"></script>

			<script src="{{ asset('build/app.js') }}"></script>
		</body>
	</body>
</html>
